@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

body {
  padding-top: 70px;
  /* background-image: url("img/BackgroundImageWood.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 10%;
  max-height: 70px;
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(0, 48, 87) solid 2px;
  top: 0;
}

#logo {
  margin-left: 17%;
}
#logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: rgb(0, 70, 150);
  padding: 5px 15px;
  margin: -1.5rem;
}
#logo h1::first-letter {
  vertical-align: middle;
  font-size: 3rem;
}
#logo a {
  display: flex;
  align-items: center;
  border: transparent solid 2px;
  transition: all 0.2s ease;
}
#logo a:visited a:active {
  color: inherit;
}
#logo a:hover {
  border: rgb(0, 48, 87) solid 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar ul {
  margin-right: 13%;
}
.navbar li {
  margin-left: 2px;
  list-style: none;
  display: inline-block;
}
.navbar a {
  color: rgb(0, 70, 150);
  font-size: 1rem;
  text-decoration: none;
  padding: 10px 20px;
  border: transparent solid 2px;
  transition: all 0.2s ease;
}
.navbar a:visited a:active {
  color: inherit;
}
.navbar a:hover {
  border: rgb(0, 48, 87) solid 2px;
  background-color:rgba(0, 0, 0, 0.1);
}

.Footer {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-top: rgb(0, 48, 87) solid 1px;
  width: 100%;
  height: 50px;
  margin-top: auto;
  bottom: 0;
}
#Footer-Inside-Contact {
  position: fixed;
  bottom: 0;
}
.Footer-Full {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}
.Footer-Div {
  display: inline-flex;
  color: rgb(0, 70, 150);
  font-size: 1rem;
}
.Footer-Div a {
  font-weight: 500;
  color: rgb(0, 70, 150);
}
.Footer-Div a:visited a:active {
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 70, 150, 0.5);
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 70, 150);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 70, 150, 0.5);
  border: rgb(0, 48, 87) solid 2px;
}

hr {
  height: 1px;
  background-color: rgba(0, 70, 150, 0.5);
  border: none;
}
#hr1 {
  margin-top: -70px;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 2%;
}
.Dish-Div {
  margin-top: 8%;
  margin-bottom: 8%;
}
.Dish-Full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.Dishes-Individual {
  line-height: 2rem;
  width: 28%;
  padding: 2px;
  border: rgba(0, 48, 87, 0.5) solid 1px;
  background-color: rgba(0, 70, 150, 0.1);
  transition: 0.2s ease-in-out;
}
.Dishes-Individual:hover {
  box-shadow: 0 2px 0 0 rgb(0, 48, 87);
}
.allergies {
  font-size: 0.9rem;
}
.Dish-Full img {
  width: 100%;
}

.Menu-List {
  position: fixed;
  margin: 10px;
}
.Menu-List ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 125px;
  width: 80px;
  padding: 4px;
  background-color: rgba(0, 70, 150, 0.1);
  border: rgba(0, 48, 87, 0.5) solid 1px;
}
.Menu-List li {
  list-style: none;
}
.Move-To {
  font-size: 0.9rem;
}
.Menu-List a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 4px;
  color: rgb(0, 0, 0);
  border: transparent solid 1px;
  transition: all 0.4s;
}
.Menu-List a:hover {
  border: rgb(0, 48, 87) solid 1px;
}

.Contact-Form {
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 0;
  border: rgba(29, 66, 58, 0.2) solid 1px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 700px;
  background-color: rgba(0, 70, 150, 0.1);
  
}
.Contact-Header {
  margin-top: 20px;
  margin-bottom: 0;
}
.Contact-Form input, textarea {
  padding: 20px;
  padding-bottom: 18px;
  font-size: 1rem;
  width: 70%;
  background-color: white;
  border: none;
  outline: rgba(0, 48, 87, 0.5) solid 1px;
  border-bottom: transparent solid 2px;
  transition: 0.2s ease-in-out;
}
/* .Contact-Form textarea {
  padding: 20px;
  padding-bottom: 18px;
  font-size: 1rem;
  width: 70%;
  color: rgb(29, 66, 58);
  background-color: white;
  border: none;
  outline: none;
  border-bottom: transparent solid 2px;
  transition: 0.2s ease-in-out;
} */
input:focus, textarea:focus {
  border-bottom: rgb(0, 48, 87) solid 2px;
}
.Contact-Submit {
  width: 30%;
  text-align: center;
}
/* .Contact-Submit input{
  padding: 20px;
  padding-bottom: 18px;
  font-size: 1rem;
  color: rgb(29, 66, 58);
  background-color: white;
  border: none;
  outline: none;
  border-bottom: transparent solid 2px;
  transition: 0.2s ease-in-out;
} */
.Contact-Submit input:hover {
  border-bottom: rgb(0, 48, 87) solid 2px;
}
